<main class = "main-reg">
  <div class="container">
    <div class="flex-container">
      <h1 class = "h1-reg">Register</h1>
      <form action="" class="form-control reg-container">
        <input placeholder="Login" type="email" class="email-input">
        <input placeholder="Password" type="password" class="password-inpu">
        <input placeholder="Fio" type="text" class="fio-input">
        <div class="button-container-reg">
          <a routerLink="" class="question-log">
            У меня уже есть<br> аккаунт.
          </a>
          <button class="reg-in">
            Reg In
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
