.main-users {
  min-height: 100vh;
  box-sizing: border-box;
  border: 0.3px solid rgb(180, 180, 192);
  background: rgb(30, 30, 30);
}

.flex-center {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
