<main class = "main-reg">
  <div class="container">
    <div class="flex-container">
      <h1 class = "h1-reg">Register</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()" action="" class="form-control reg-container">
        <input
          required
          placeholder="Login"
          type="email"
          class="email-input"
          formControlName="email">

        <span
          class="error-text"
          *ngIf="registerForm.touched && registerForm.get('email')?.value === ''"
        >
          Поле должно быть заполнено!
        </span>
        <span
          class="error-text"
          *ngIf="
          registerForm.get('email')?.touched &&
          registerForm.get('email')?.value !== '' &&
          registerForm.get('email')?.invalid
          ">
          Некорректный адрес электронной почты
        </span>
        <input
          required
          placeholder="Password"
          type="password"
          class="password-inpu"
          formControlName="password">
        <span
          class="error-text"
          *ngIf="registerForm.touched && registerForm.get('password')?.value === ''"
        >
          Поле должно быть заполнено!
        </span>
        <input
          required
          placeholder="Fio"
          type="text"
          class="fio-input"
          formControlName="fio">
        <span
          class="error-text"
          *ngIf="registerForm.touched && registerForm.get('fio')?.value === ''"
        >
          Поле должно быть заполнено!
        </span>
        <div class="button-container-reg">
          <a routerLink="" class="question-log">
            У меня уже есть<br> аккаунт.
          </a>
          <button [disabled]="registerForm.invalid" class="reg-in">
            Reg In
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
