<header class = "header">
  <div class="container">
    <div class="flex-row-header">
      <div class="logo">
        <h1>MeetUps</h1>
      </div>

      <nav class="navbar">
        <a href="/" class="navbar-link">All meetups</a>
        <a href="/" class="navbar-link">My Meetups</a>
        <a href="/" class="navbar-link">Users</a>
      </nav>

      <div class="logout-button">
        <button class="logout">
        <span class="material-symbols-outlined">move_item</span>
          LogOut
        </button>
      </div>
    </div>
  </div>
</header>
