.adding-tasks {
  min-height: 100vh;
  background: rgb(30, 30, 30);
}

.adding-tasks-form {
  display: flex;
  flex-direction: column;
}

.date-time-container {
  gap: 30px;
  display: flex;
  flex-direction: row;
}

label {
  display: flex;
}

label > span {
  width: 100px;
}
