<main class = "adding-tasks">
  <div class="container">
    <form action="" class="adding-tasks-form">

      <label class="name-text">
        <span>Название:</span>
        <input type="text" class="text-input">
      </label>

      <div class="date-time-container">
        <label class="name-text">
          <span>Дата:</span>
          <input type="text" class="text-input">
        </label>
        <label class="name-text">
          <span>Время:</span>
          <input type="text" class="text-input">
        </label>
      </div>

      <label class="place-text">
        <span>Место:</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Короткое описание:</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Место:</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Краткое описание:</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Подробное описание:</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Целевая аудитория:</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Что надо знать?</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Что будет?</span>
        <input type="text" class="text-input">
      </label>

      <label class="place-text">
        <span>Почему надо обязательно прийти?</span>
        <input type="text" class="text-input">
      </label>

    </form>
  </div>
</main>
