<main class = "main-login">
  <div class="container">
    <div class="flex-container">
      <h1 class = "h1-login">Login</h1>
      <form action="" class="form-control login-container">
        <input placeholder="Login" type="email" class="email-input">
        <input placeholder="Password" type="password" class="password-input">
        <input placeholder="Fio" type="text" class="fio-input">
        <div class="button-container-login">
          <a routerLink="register" class="question-reg">
            Хотите создать<br> аккаунт?
          </a>
          <button class="log-in">
            Log In
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
