.tasks-container {
  box-sizing: border-box;
  border: 0.3px solid rgb(180, 180, 192);
  background: rgb(44, 44, 44);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.task-inforamation {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}

.header-text {
  display: flex;
  align-items: center;
}

.header-text > h2 {
  margin: 0
}

.author-task {
  align-items: center;
  display: flex;
}
