<div class="tasks-container">
  <div class="task-inforamation">
    <div class="obertka">
        <div class="header-text">
          <h2>Angular vs React</h2>
          <span>321 подписчик</span>
        </div>

        <div class="text-info">
          <p>
            А здесь я ещё более подробно напишу об том, отб этом.
            О том, об этом. О том, об этом.
            О том, об этом. О том, об этом.
            О том, об этом. О том, об этом.
            О том, об этом.
            А здесь я ещё более подробно напишу об том, отб этом.
            А здесь я ещё более подробно напишу об том, отб этом.
            О том, об этом. О том, об этом.
            О том, об этом. О том, об этом.
            О том, об этом. О том, об этом.
            О том, об этом.
            А здесь я ещё более подробно напишу об том, отб этом.
            А здесь я ещё более подробно напишу об том, отб этом.
            О том, об этом. О том, об этом.
            О том, об этом. О том, об этом.
            О том, об этом. О том, об этом.
           О том, об этом.
           А здесь я ещё более подробно напишу об том, отб этом.
         </p>
       </div>
    </div>
    <div class="author-task">
      <span class="material-symbols-outlined icon-author">person_4</span>
      <span class = "author-text">Александр Козаченко</span>
    </div>
  </div>

  <div class="task-date">
    <p class="date-time">
      <time class="time">
        14.08.22 13:00
      </time>
      <span class="discruption-time">
        Переговорная 14
      </span>
    </p>
    <div class="button-task-date">
      <button class="agree-visited">
        Я пойду!
      </button>
      <button class="discraption-fun">
        <span class="material-symbols-outlined icon-discrapiton-fun">expand_less</span>
      </button>
    </div>
  </div>
</div>
