<div class="tasks-container">
  <div class="task-inforamation">
    <div class="header-text">
      <h2>Angular vs React</h2>
      <span>321 подписчик</span>
    </div>

    <div class="text-info">
      <p>
        А здесь я ещё более подробно напишу об том, отб этом.
        О том, об этом. О том, об этом.
        О том, об этом. О том, об этом.
        О том, об этом. О том, об этом.
        О том, об этом.
        А здесь я ещё более подробно напишу об том, отб этом.
        О том, об этом. О том, об этом.
        О том, об этом. О том, об этом.
        О том, об этом. О том, об этом.
        О том, об этом.
        А здесь я ещё более подробно напишу об том, отб этом.
        О том, об этом. О том, об этом. О том, об этом.
        О том, об этом. О том, об этом. О том, об этом. О том, об этом.
      </p>
    </div>

    <div class="author-task">
      <span class="material-symbols-outlined">person_4</span>
      <span>Александр Козаченко</span>
    </div>
  </div>
  <div class="task-date">

  </div>
</div>
