<div class="tasks-container">
  <div class="task-inforamation">
    <div class="obertka">
        <div class="header-text">
          <h2>{{meetups.name}}</h2>
          <span>{{meetups.users.length}} подписчик</span>
        </div>

        <div class="text-info">
          <p [class]="isListExpanded ? 'visible-content' : 'hidden-content'">
            {{meetups.description}}
            <br>
            <span style="font-size: 25px; color: cornsilk">Целевая аудитория</span><br>
            {{meetups.target_audience}}
            <br>
            <span style="font-size: 25px; color: cornsilk">Что надо знать?</span><br>
            {{meetups.need_to_know}}
            <br>
            <span style="font-size: 25px; color: cornsilk">Что будет?</span><br>
            {{meetups.will_happen}}<br>

            <span style="font-size: 25px; color: cornsilk">Что надо знать?</span><br>
            {{meetups.reason_to_come}}
          </p>
       </div>
    </div>
    <div class="author-task">
      <span class="material-symbols-outlined icon-author">person_4</span>
      <span class = "author-text">{{this.meetups.owner.fio}}</span>
    </div>
  </div>

  <div class="task-date">
    <p class="date-time">
      <time class="time">
        {{datePipeFin(this.meetups.time)}}
      </time>
      <span class="discruption-time">
        Локация: {{this.meetups.location}}
      </span>
      <span class = "discruption-time">Продолжительность: {{meetups.duration}} мин</span>
    </p>
    <div class="button-task-date">
      <button *ngIf="!isSubscribed()" (click)="subscribeMeetup()" class="agree-visited">
        Я пойду!
      </button>
      <button *ngIf="isSubscribed()" (click)="unsubscribeFromMeetup()" class="dont-visited">
        Я не пойду
      </button>
      <button class="discraption-fun" (click)="toggleList()">
        <span class="material-symbols-outlined icon-discrapiton-fun {{isListExpanded ? 'button-toggle' : ''}}">expand_less</span>
      </button>
    </div>
  </div>
</div>
