<main class = "adding-tasks">
  <div class="container">
    <div class = "form-container">
      <h1 class = "add-meetups-h1">Add meetups</h1>
      <form action="" class="adding-tasks-form">

        <label class="name-text">
          <span>Название:</span>
          <input type="text" class="text-input">
        </label>

        <div class="date-time-container">
          <label class="date">
            <span>Дата:</span>
            <input type="date" class="date-input">
          </label>
          <label class="name-text">
            <span>Время:</span>
            <input type="time" class="time-input">
          </label>
        </div>

        <label class="place-text">
          <span>Место:</span>
          <input type="text" class="place-input">
        </label>

        <label class="short-description-text">
          <span>Короткое описание:</span>
          <textarea type="text" class="shor-description-input"></textarea>
        </label>

        <label class="long-text">
          <span>Подробное описание:</span>
          <textarea type="text" class="long-description-input"></textarea>
        </label>

        <label class="targeted-text">
          <span>Целевая аудитория:</span>
          <textarea type="text" class="targeted-input"></textarea>
        </label>

        <label class="know-text">
          <span>Что надо знать?</span>
          <textarea type="text" class="know-input"></textarea>
        </label>

        <label class="tobe-text">
          <span>Что будет?</span>
          <textarea type="text" class="tobe-input"></textarea>
        </label>

        <label class="when-text">
          <span>Почему надо обязательно прийти?</span>
          <textarea type="text" class="when-input"></textarea>
        </label>

        <div class="btn-form">
          <button class="delete-btn">Удалить</button>
          <button class="cancellation-btn">Отменить</button>
          <button class="save-btn">Сохранить</button>
        </div>

      </form>
    </div>
  </div>
</main>
