<div class="user-item">

    <div class="user-name">

      <input [formControl]="name"
             type="text"
             class = "email-input">

    </div>

    <div class="user-password">

      <input [formControl]="email"
             class = "password-input"
             type="password">

    </div>

    <div class="user-role">

      <select [formControl]="roles"
              class = "select-info"
              name=""
              id="">

        <option value="ADMIN">USER</option>
        <option value="USER">ADMIN</option>
      </select>
    </div>

    <div class="button-function">
      <button class = "delBtn">x</button>
      <button (click)="editUser()" *ngIf="!isEditing" class = "edBtn">edit</button>
      <button
        class="confirmBtn"
        (click)="confirmEditUser()"
        *ngIf="isEditing"
      >
        done
      </button>
    </div>
</div>

